<a href="https://colab.research.google.com/github/tecnologia23/tecnologia23.github.io/blob/main/python_basico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hola mundo")
prin

hola mundo

In [ ]:
# Guardamos un número en una variable
edad = 25

# Mostramos el valor
print(edad)  # 25

25

In [ ]:
nombre = "Ana"      # Texto (string)
edad = 30           # Número entero (int)
altura = 1.75       # Número decimal (float)
es_mayor = True     # Valor lógico (booleano)

print(nombre, edad, altura, es_mayor)

Ana 30 1.75 True

In [ ]:
x = 10  # x empieza con 10
print(x)  # 10

x = 20  # Ahora x vale 20
print(x)  # 20

10
20

In [ ]:
#login
cedula=1015987969
clave = 1265
clave_dinamica=158636

#pantalla principal
saldo = 50000
Saldo = ""
cliente= {"nombre": "Juan", "apellido": "ramirez","cedula":cedula, "email":"juan@gmail.com"}
cuenta={"numero_cuenta":"43423424","cliente":cliente}
lista_cuentas=[{"numero_cuenta":43423424,"cliente":cliente}, {"numero_cuenta":"43423424","cliente":cliente}]

#transferencias
fecha=""
tipo_transferencia=""


#movimientos
tipo_movimiento=""
fecha=""
monto=""
saldo=""
lista_movimientos=""

print(lista_cuentas)

[{'numero_cuenta': 43423424, 'cliente': {'nombre': 'Juan', 'apellido': 'ramirez', 'cedula': 1015987969, 'email': 'juan@gmail.com'}}, {'numero_cuenta': '43423424', 'cliente': {'nombre': 'Juan', 'apellido': 'ramirez', 'cedula': 1015987969, 'email': 'juan@gmail.com'}}]

In [ ]:
diccionario = {"nombre": "Juan", "edad": 30,"apellido": "perez"}
print(diccionario)
diccionario["profesión"] = "Ingeniero"
print(diccionario)
print(diccionario["nombre"])

{'nombre': 'pepito', 'edad': 30, 'apellido': 'perez'}
{'nombre': 'pepito', 'edad': 30, 'apellido': 'perez', 'profesión': 'Ingeniero'}
pepito

In [ ]:
texto = "Hola, mundo"
print(texto.upper())  # "HOLA, MUNDO"

HOLA, MUNDO

In [ ]:
texto = "    manzana banana uva"
texto = texto.strip()
print(texto.split(" "))  # ['manzana', 'banana', 'uva']

['manzana', 'banana', 'uva']

In [ ]:
# Ejemplos de operadores aritméticos
x = 11
y = 3
print(x + y)   # 13
print(x - y)   # 7
print(x * y)   # 30
print(x / y)   # 3.333...
print(x % y)   # 1
print(x ** y)  # 1000
print(x // y)  # 3

14
8
33
3.6666666666666665
2
1331
3

In [ ]:
# Ejemplos de operadores de comparación
a = "a"
b = "p"
print(a == b)   # False
print(a != b)   # True
print(a > b)    # False
print(a < b)    # True
print(a >= b)   # False
print(a <= b)   # True

False
True
False
True
False
True

In [2]:
def es_mayor_de_edad(edad):
    if edad >= 18:
        return "Es mayor de edad"
    else:
        return "Es menor de edad"

# Pruebas
print(es_mayor_de_edad(20))  # Es mayor de edad
print(es_mayor_de_edad(5))  # Es menor de edad

Es mayor de edad
Es menor de edad